/* Make map fill the screen */
body, html {
  margin: 0;
  height: 100%;
}

#map {
  height: 100vh;
  width: 100%;
}

#directions-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-family: sans-serif;
  z-index: 5;
}